%html
  %head
    :css
        ul
        {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: #333;
        }
        
        li.navBar
        {
          float: left;
        }
        
        li.navBarActive
        {
          float: left;
          background-color: #8d42f5;
        }
        
        li a
        {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }
        
        li a:hover:not(.active)
        {
          background-color: #4287f5;
        }
        
  %body
    %ul
      .navBar
      %li.navBar
        = link_to "Home", index_path
      %li.navBar
        = link_to "Overview", professor_path
      %li.navBar
        = link_to "Papers", papers_path
      %li.navBar
        = link_to "Students", students_path

      %li.navBar{:style => "float:right"}
        = link_to "Log Out", destroy_user_session_path, :method => :delete
        
    %h2 All Students
    
    - if !@students.nil?
      %table#students.table.table-striped.col-md-12
        %thead
          %tr
            %th Name
            %th Email
            %th Classification
            %th Previous paper amount
            %th Current paper amount
        %tbody
          - @students.each do |student|
            %tr
              %td= student.name
              %td= student.email
              %td= student.classification
              %td= student.paper_history
              %td= student.current_papers
              %td= button_to 'Preference', eform_path(student), :method => :get, :class => 'btn btn-primary'
              %td= button_to 'Edit', edit_student_path(student), :method => :get, :class => 'btn btn-primary'
              %td= button_to 'Delete', student_path(student), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-primary'
        
    - else
      %h3 No students added yet.
            
    = link_to 'Add new student', new_student_path
