%html
  %head
    :css
        ul
        {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: #333;
        }
        
        li.navBar
        {
          float: left;
        }
        
        li.navBarActive
        {
          float: left;
          background-color: #8d42f5;
        }
        
        li.navBar a
        {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }
        
        li.navBar a:hover:not(.active)
        {
          background-color: #4287f5;
        }

        li.navBarActive a
        {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }
        
        li.navBarActive a:hover:not(.active)
        {
          background-color: #4287f5;
        }    

        li.linkToProfessorItems
        {
          display: block;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }
        
        .dropdown
        {
          float: left;
          overflow: hidden;
        }
        .dropdown .dropbtn 
        {
          border: none;
          outline: none;
          color: green;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }
        .dropdown-content 
        {
          display: none;
          position: absolute;
          background-color: green;
          min-width: 160px;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          z-index: 1;
        }
        .dropdown-content a 
        {
          float: none;
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
          text-align: left;
        }
        .dropdown-content a:hover 
        {
          background-color: #ddd;
        }
        .dropdown:hover .dropdown-content 
        {
          display: block;
        }
        
        button {
          width: 100%;
          height: 40px;
          display: block;
          margin: 10px;
        }
    
        #add-paper {
          text-align: center;
          position: center;
        }
        
        #form_id {
          text-align: center;
        }

  %body
    %ul
      .navBar
      %li.navBar
        = link_to "Home", index_path
      %li.navBar
        = link_to "Overview", professor_path
      %li.navBar
        = link_to "Students", students_path

      %li.navBar{:style => "float:right"}
        = link_to "Log Out", destroy_user_session_path, :method => :delete
        
%h2 Add a student

= form_tag students_path do

  = label :student, :name, 'Name'
  = text_field :student, 'name'
  
  = label :student, :email, 'Email'
  = text_field :student, 'email'
  
  %p Classification:
  = radio_button :student, :classification, 'Senior'
  Senior
  = radio_button :student, :classification, 'Junior'
  Junior
      
  = submit_tag 'Add student', :class => 'btn btn-primary'
  
