%html
  %head
    :css
        ul
        {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: #333;
        }
        
        li.navBar
        {
          float: left;
        }
        
        li.navBarActive
        {
          float: left;
          background-color: #8d42f5;
        }
        
        li.navBar a
        {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }
        
        li.navBar a:hover:not(.active)
        {
          background-color: #4287f5;
        }

        li.navBarActive a
        {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }
        
        li.navBarActive a:hover:not(.active)
        {
          background-color: #4287f5;
        }    

        li.linkToProfessorItems
        {
          display: block;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }
        
        .landing-text {
          text-align: center;
        }
        
        .center-list {
          display: inline-block;
          margin-left: auto;
          margin-right: auto;
          text-align:left;
          text-size
        }        
      
  %body
    %ul
      %li.navBarActive
        = link_to "Home", {:style=>'color:#FFFFFF;', :class => "css_class"}
      
      - if signed_in?
        %li.navBar
          = link_to "Papers", professor_path
        %li.navBar
          = link_to "Students", students_path
        %li.navBar{:style => "float:right"}
          = link_to "Log Out", destroy_user_session_path, :method => :delete
          
      - else
        %li.navBar{:style => "float:right"}
          = link_to "Register", new_user_registration_path
        %li.navBar{:style => "float:right"}
          = link_to "Log In", new_user_session_path
        
  
  %div.landing-text
    %h1.font-weight-bold Welcome to Peer Review Assigner
    %h2 How to use our site:
    %div.center-list
      %ol
        %li Select Student Access or Professor Access from the top right corner
        %li Enter your credentials
        %li Done!