%html
  %head
    :css
        ul
        {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: #333;
        }
        
        li.navBar
        {
          float: left;
        }
        
        li.navBarActive
        {
          float: left;
          background-color: #8d42f5;
        }
        
        li.navBar a
        {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }
        
        li.navBar a:hover:not(.active)
        {
          background-color: #4287f5;
        }

        li.navBarActive a
        {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }
        
        li.navBarActive a:hover:not(.active)
        {
          background-color: #4287f5;
        }    

        li.linkToProfessorItems
        {
          display: block;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }
        
        button {
          width: 100%;
          height: 40px;
          display: block;
          margin: 10px;
        }
    
        #add-paper {
          text-align: center;
          position: center;
        }
        
        #form_id {
          text-align: center;
        }
        button {
          height: 4em;
          width: 40em;
        }

  %body
    %ul
      .navBar
      %li.navBar
        = link_to "Home", index_path
      %li.navBar
        = link_to "Overview", professor_path
      %li.navBar
        = link_to "Papers", papers_path
      %li.navBar
        = link_to "Students", students_path
        
      %li.navBar{:style => "float:right"}
        = link_to "Log Out", destroy_user_session_path, :method => :delete

    // Page content container
    %div.container
      %div.row
        %h1.col.text-center.font-weight-bold Professor Access
        
          
      %div.row
        // Left column of page
      - if !@papers.nil?
        %table#papers.table.table-striped.col-md-12
          %thead
            %tr
              %th Title
              %th Students Assigned (cur,last)
          %tbody
            - @papers.each do |paper|
              %tr
                %td= paper.title
                %td
                  - paper.students_assigned.each do |s|
                    %div
                      -if Student.exists?(s)
                        -stu = Student.find(s)
                        -if stu.classification == "Senior"
                          ="*"
                        ="#{stu.name}  (#{stu.current_papers},#{stu.paper_history})"
                        ="Test"
                  %div
                    =button_to "Add Student", edit_paper_path(paper), :method => :get 
                %td
                  - paper.students_assigned.each do |stu|
                    %div
                      -if Student.exists?(stu)
                        =button_to "Remove #{Student.find(stu).name}", paper_path(paper, student:stu, type:"rem"), :method => :put        



      %div.row
        %div.col-lg-12.text-center
          =button_to "Send preference forms to students", email_forms_path,  :method=> :get, :params =>{student:0},:class => 'btn btn-primary'
        %div.col-lg-12.text-center
          =button_to "Assign Students", professor_path, :method=> :performAssignment, :class => 'btn btn-primary'
        %div.col-lg-12.text-center
          =button_to "Send assignments", assignments_path, :method=> :send_assignments, :method=> :get, :params =>{student:0},:class => 'btn btn-primary btn-large'
          //%button.btn.btn-primary.btn-large Email Assignments to Students
          
          
