%html
  %head
    :css
        ul
        {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: #333;
        }
        
        li.navBar
        {
          float: left;
        }
        
        li.navBarActive
        {
          float: left;
          background-color: #8d42f5;
        }
        
        li.navBar a
        {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }
        
        li.navBar a:hover:not(.active)
        {
          background-color: #4287f5;
        }

        li.navBarActive a
        {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }
        
        li.navBarActive a:hover:not(.active)
        {
          background-color: #4287f5;
        }    

        li.linkToProfessorItems
        {
          display: block;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }
        
        button {
          width: 100%;
          height: 40px;
          display: block;
          margin: 10px;
        }
    
        #add-paper {
          text-align: center;
          position: center;
        }
        
        #form_id {
          text-align: center;
        }
        button {
          height: 4em;
          width: 40em;
        }

  %body
    %ul
      .navBar
      %li.navBar
        = link_to "Home", index_path
      %li.navBar
        = link_to "Overview", professor_path
      %li.navBar
        = link_to "Papers", papers_path
      %li.navBar
        = link_to "Students", students_path
        
      %li.navBar{:style => "float:right"}
        = link_to "Log Out", destroy_user_session_path, :method => :delete

    // Page content container
    %div.container
      %div.row
        %h1.col.text-center.font-weight-bold Professor Access
        
          
      %div.row
        // Left column of page
      - if !@student.nil?
        ="Send to: #{@student.email}"       
        %div
          ="Howdy #{@student.name}\n You have received the following papers to review.\n"
          - @assignments.each do |paper|
            %div
              =paper.title
        %div
          -if @prev>-1
            =button_to "Previous", assignments_path, :params =>{student:@prev},:method=> :get, :class => 'btn btn-primary'
          =button_to "Next", assignments_path, :params =>{student:@next},:method=> :get, :class => 'btn btn-primary'
      - else
        ="You have finished all of the students. You can either go back through the emails or go to the overview page"
        %div
          -if @prev>-1
            =button_to "Previous", assignments_path, :params =>{student:@prev},:method=> :get, :class => 'btn btn-primary'
          =button_to "Overview", professor_path, :method=> :get, :class => 'btn btn-primary'

          
          
